#hangman {
  padding: 0;
  margin: auto;
  display: block;
  border: solid 2px black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 30%, rgba(237, 237, 237, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(30%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 30%, rgba(237, 237, 237, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 30%, rgba(237, 237, 237, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 30%, rgba(237, 237, 237, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 30%, rgba(237, 237, 237, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}

#word {
  /*border: solid 1px blue;*/
  font-size: 50px;
  height: 100px;
  width: 600px;
  margin: auto;
  display: block;
}

button {
  margin-top: 25px;
  width: 130px;
  height: 50px;
  width: 50px;
  margin: 5px;
  border: solid 1px black;
  border-radius: 5px;
}

.btn {
  display: block;
  margin: auto;
  padding: 0;
  margin-top: 50px;
  height: 50px;
  width: 130px;
  background-color: #9e0912;
  border: solid 1px #9e0912;
}

.title {
  height: 100px;
  font-size: 50px;
  font-family: courier;
  font-weight: bold;
  margin-top: 20px;
}

body {
  color: black;
  background: rgba(28, 28, 28, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(28, 28, 28, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(19, 19, 19, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(28, 28, 28, 1)), color-stop(0%, rgba(43, 43, 43, 1)), color-stop(0%, rgba(17, 17, 17, 1)), color-stop(0%, rgba(19, 19, 19, 1)), color-stop(0%, rgba(0, 0, 0, 1)), color-stop(0%, rgba(44, 44, 44, 1)), color-stop(100%, rgba(89, 89, 89, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(28, 28, 28, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(19, 19, 19, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(28, 28, 28, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(19, 19, 19, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(28, 28, 28, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(19, 19, 19, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(28, 28, 28, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(19, 19, 19, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 0%, rgba(89, 89, 89, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#595959', GradientType=1)
}
